# Salesforce cache
.sf/
.sfdx/
.localdevserver/

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env
.env.local

# Python Salesforce Functions
**/__pycache__/
**/.venv/
**/venv/

# Scratch Org Files
**/scratchOrg.json

# VS Code
.vscode/
!.vscode/extensions.json
!.vscode/settings.json

# IntelliJ
.idea/
*.iml

# Backup files
*.bak
*.backup

# Apex Anonymous Window
anonymousApex.apex

# Config files
config/*.json
!config/project-scratch-def.json

# Certificates
*.crt
*.key
*.pem

# API Keys
apikeys.txt
credentials.txt
